<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Blood Donation</title>
</head>

<body>
<h3>Donate Blood,Save the Neighbour life</h3>
<p>Contact Hospital near to you </p>
<form action="" method="get"><table width="200" border="1">
  <tr>
    <td>#</td>
    <td>Blood Bank Name</td>
    <td>Place</td>
    <td>Pin</td>
    <td>Phone</td>
    <td>Email</td>
  </tr>
    {% for i in data  %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['name'] }}</td>
    <td>{{ i['place'] }}</td>
    <td>{{ i['pin'] }}</td>
    <td>{{ i['Phone'] }}</td>
    <td>{{ i['email'] }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
