<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/donate">Blood Donation</a></td>
    </tr>
    <tr>
      <td><a href="/view_bank">View Blood Bank</a></td>
    </tr>
    <tr>
      <td><a href="/ustatus">View status</a></td>
    </tr>
    <tr>
      <td><a href="/ufeedback">feedback</a></td>
    </tr>
  </table>
</form>
</body>
</html>
