{% extends 'Bank/bank_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post" class="table tab-content">
  <table width="200" border="1">
      <tr>
    <td>Blood Group</td>
    <td>
      <label for="textfield1"></label>
      <label for="select"></label>
      <select name="select" id="select">
          <option value="A+">A+</option>
           <option value="B+">B+</option>
           <option value="AB+">AB+</option>
           <option value="AB-">AB-</option>
           <option value="A-">A-</option>
           <option value="B-">B-</option>
           <option value="O+">O+</option>
           <option value="O-">O-</option>
      </select>

   </td>
  </tr>
    <tr>
      <td>Unit</td>
      <td>
      <input type="text" name="textfield2" id="textfield3" /></td>
    </tr>

    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="submit" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}