<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
</form>
<table width="200" border="1">
  <tr>
    <td>Name</td>
    <td><form id="form2" name="form2" method="post" action="">
      <label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" />
    </form></td>
  </tr>
  <tr>
    <td>Blood Group</td>
    <td><form id="form3" name="form3" method="post" action="">
      <label for="textfield2"></label>
      <label for="select"></label>
      <select name="select" id="select">
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>AB+</option>
        <option>AB-</option>
        <option>O+</option>
        <option>O-</option>
      </select>
     
    </form></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><form id="form4" name="form4" method="post" action="">
      <label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" />
    </form></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><form id="form5" name="form5" method="post" action="">
      <label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" />
    </form></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><form id="form6" name="form6" method="post" action="">
      <label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" />
    </form></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><form id="form7" name="form7" method="post" action="">
      <label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" />
    </form></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><form id="form8" name="form8" method="post" action="">
      <label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" />
    </form></td>
  </tr>
  <tr>
    <td colspan="2"><form id="form9" name="form9" method="post" action="">
      <input type="submit" name="button" id="button" value="Submit" />
    </form></td>
  </tr>
  
</table>
</body>
</html>
